{% include header.html %}

<div id="wrapper">
	<div id="bg"></div>
	<div id="overlay"></div>
	<div id="main">

		<!-- Header -->
			<header id="header">
				<h1>{{ site.name }}</h1>
				<p>{{ site.as }}</p>
				<nav>
					<ul>
						<li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						<!-- <li><a href="{{ site.tw }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="{{ site.fb }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="{{ site.wa }}" class="icon fa-whatsapp"><span class="label">WhatsApp</span></a></li>
						<li><a href="{{ site.gh }}" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="{{ site.ig }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="{{ site.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<!-- <li><a href="{{ site.my_web }}" class="icon fa-external-link"><span class="label">Website</span></a></li> -->
						<li><a href="{{ site.medium }}" class="icon fa-medium"><span class="label">Medium</span></a></li>
						<li><a href="{{ site.codepen }}" class="icon fa-codepen"><span class="label">Codepen</span></a></li>
						<li><a href="{{ site.stackoverflow }}" class="icon fa-stack-overflow"><span class="label">Stack Overflow</span></a></li>
					</ul>
				</nav>
			</header>

		<!-- Footer -->
			<footer id="footer">
				<span class="copyright">© 2019 {{ site.name }} | Made with <font class="fa fa-heart fa-fw" color="#e91e63"></font> in Indonesia.</span>
			</footer>

	</div>
</div>
<div style="height: 0px;overflow: hidden;position: absolute;z-index: -1;bottom: -1px;">
<embed name="song" src="https://rawcdn.githack.com/FauziFerdiansyah/id/2c531e9d409f80d761771a6378db91ce43aef026/onw.mp3"  hidden="false" autostart="true"></div>
{% include footer.html %}
